@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(..//imgs/bg.jpg);
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  color: white;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 1rem;
}

h3 {
  color: #d20094;
  font-size: 24px;
}

p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.neon-button {
  background-color: #00ffff;
  color: #192155;
  text-transform: uppercase;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.8), 0 0 30px rgba(0, 123, 255, 0.6);
  border: none;
  padding: 20px;
  font-size: 24px;
  width: 130px;
  min-height: 36px;
  font-weight: 700;
  cursor: pointer;
}
