*{
    box-sizing: border-box;
   font-family: "Gilroy", "Manrope", "Inter", sans-serif;
}

body{
    background-image: url(../imgs/bg.jpg);
    background-size: cover;
    color: white;
}

header img{
    width: 230px;
    margin: 3.5em 0 0 8em;
}



main{
    width: 90%;
    margin: 0 auto;
}

.results {
  text-align: center;
  color: aliceblue;
  margin-bottom: 6%;
}
.results h1 {
  font-size: 4em;

  margin: 0%;
}
.results p {
  font-size: 2em;
  margin-top: 0;
  font-family: "Inter", sans-serif;
}

#container{
display: inline-block;
text-align: center;
width: 100%;
display: flex;
}

.percentuale{
    display: inline-block;
}

#donut{
    border: solid 60px #00FFFF;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    padding-top: 60px;
}

#donut h2{
    margin-bottom: 2px;
    font-size: 1.5em;
}

#donut h3{
    color: #00FFFF;
    font-size: 1.3em;
    margin-top: 1px;
}

#donut p{
    margin: 0 auto;
    width: 200px;
    height: auto;
    /* border: solid 2px red; */
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.3em;
}

footer {
  text-align: center;
  border: 2px solid white;
  width: 14%;
  margin-left: 42%;
  margin-top: 5%;
  background: transparent;
  color: #ffffff;
  transition: all 0.3s ease;
}
footer h4 {
  font-size: 1.7em;
  margin: 6%;
}



