@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(../imgs/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

header img {
  width: 16em;
  margin: 3.5em 0 0 10em;
}

main {
  width: 80%;
  margin: 0 auto;
}

.results {
  margin: 0 auto;
  text-align: center;
  color: aliceblue;
  margin-bottom: 5%;
  margin-top: 3em;
  /*height: 9em;*/
}
.results h1 {
  font-size: 5em;
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  margin: 0%;
}
.results p {
  font-size: 2.5em;
  margin-top: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 100;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*align-items: flex-start;*/
  /*display: inline-block;*/
  width: 100%;
  /*height: 40em;*/
  /*padding-top: 10em;
  padding-bottom: 0;*/
  margin-top: 40px;
}

.percentuale {
  /*display: inline-block;*/
  font-size: 2em;
  /*width: 8em;
  margin: 0%;*/
  font-weight: 300;
  font-family: "Outfit", sans-serif;
}

#wrong {
  opacity: 0.75;
  text-align: right;
}

.percentuale h2 {
  margin: 0;
  font-weight: 400;
  font-size: 2.3em;
  letter-spacing: 0.2px;
  color: #ffffff;
  line-height: 1;
}

.percentuale p {
  margin: 5px;
}

.numeri-percentuali {
  font-size: 2.3em;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
}

.questions {
  font-size: 1.8rem;
  margin: 0;
}

/* #donut {
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 100px;
  max-width: 100%;
  width: 35em;
  height: 35em; */
/* margin: 0 auto;
  text-align: center;
  padding: 20px;
  padding-top: 2.5em;
  line-height: 150%;
  position: relative;
  top: -150px;
  font-family: "Gilroy", "Manrope", "Inter", sans-serif;
}*/

/* img {
  max-width: 15%;
  margin: 0;
} */

/* /--TIMER--/ */

#timer-container {
  /*padding: 20px 20px;
  margin: 0 auto;
  align-items: center;*/
  position: relative;
  width: 500px;
  height: 500px;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));
  margin: 0;
  /*flex-shrink: 0;*/
}

svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.base-circle {
  fill: none;
  stroke: #c5488d;
  stroke-width: 80;
  stroke-linecap: square;
}

.progression-circle {
  fill: none;
  stroke: #00ffff;
  stroke-width: 80;
  stroke-linecap: inherit;
  stroke-dasharray: 1256;
  stroke-dashoffset: 418; /* dashoffset è la percentuale che occupa il colore, se uguale a dasharray sarà tutto completo */
  /* transition: stroke-dashoffset 2s linear forwards; */
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  /*font-size: 52px;*/
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  /*line-height: 1;*/
}

#countdown p {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.4px;
  margin-top: 5px;
  opacity: 0.9;
  font-family: "Inter", sans-serif;
}

#countdown h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

#countdown h3 {
  color: #00ffff;
  font-size: 24px;
  margin: 0.1em 0 1.7em 0;
  font-family: "Inter", sans-serif;
}

#countdown p {
  margin: 0;
  line-height: 1.6;
  text-align: center;
  /*height: auto;
  width: 15em;*/
  font-size: 16px;
  opacity: 0.7;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  /*margin-top: 2.7em;*/
}

footer {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10em;
  margin-top: 5em;
}

/*footer div{
  border: 0.25em solid white;
  width: 22em;
  height: 6em;
  margin: 0 auto;
  padding-top: 1.4em;
}

footer div h4 {
  font-size: 2em;
  margin: 0;
  font-family: "Outfit", sans-serif;
}*/

button {
  border: 2px solid white;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 24px;
  word-spacing: -1px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  width: 25%;
  padding: 20px;
  cursor: pointer;
}

footer {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10em;
  margin-top: 5em;
}

/*footer div{
  border: 0.25em solid white;
  width: 22em;
  height: 6em;
  margin: 0 auto;
  padding-top: 1.4em;
}

footer div h4 {
  font-size: 2em;
  margin: 0;
  font-family: "Outfit", sans-serif;
}*/

button {
  border: 2px solid white;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 30px;
  word-spacing: -1px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  width: 10.5em;
  padding: 16px;
  cursor: pointer;
  position: relative;
  margin-left: 1em;
}
