* {
  box-sizing: border-box;
}

body {
  background-image: url(../imgs/bg.jpg);
  background-size: cover;
  color: white;
}

header img {
  width: 16em;
  margin: 3.5em 0 0 10em;
}

main {
  width: 80%;
  margin: 0 auto;
}

.results {
  margin: 0 auto;
  text-align: center;
  color: aliceblue;
  margin-bottom: 5%;
  margin-top: 3em;
  height: 9em;
}
.results h1 {
  font-size: 5em;
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  margin: 0%;
}
.results p {
  font-size: 2.5em;
  margin-top: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 100;
}

#container {
  display: inline-block;
  width: 100%;
  height: 40em;
  display: flex;
  padding-top: 10em;
  padding-bottom: 0;
}

.percentuale {
  display: inline-block;
  font-size: 2em;
  width: 8em;
  margin: 0%;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
}

#wrong {
  opacity: 0.75;
  text-align: right;
}

.percentuale h2 {
  margin: 0;
  font-weight: 400;
  font-size: 2.3em;
  letter-spacing: 0.2px;
  color: #ffffff;
  line-height: 1;
}

.percentuale p {
  margin: 0%;
}

.numeri-percentuali {
  font-size: 2.3em;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
}

.questions {
  font-size: 1.8rem;
}

#donut {
  border: solid 5.2em #00ffff;
  border-radius: 50%;
  width: 35em;
  height: 35em;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  padding-top: 2.5em;
  line-height: 150%;
  position: relative;
  top: -150px;
  font-family: "Gilroy", "Manrope", "Inter", sans-serif;
  /* box-shadow:  5px 5px 10px black; */
}

#donut h2 {
  margin: 2em 0 0 0;
  font-size: 1.6em;
}

#donut h3 {
  color: #00ffff;
  font-size: 1.6em;
  margin: 0.3em 0 1.7em 0;
}

#donut p {
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
  height: auto;
  width: 15em;
  font-size: 1.2em;
  opacity: 0.7;
  line-height: 1.3em;
  margin-top: 2.7em;
}

footer {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10em;
}
footer div {
  border: 0.25em solid white;
  width: 22em;
  height: 6em;
  margin: 0 auto;
  padding-top: 1.4em;
}

footer div h4 {
  font-size: 2em;
  margin: 0;
  font-family: "Outfit", sans-serif;
}
